@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	box-shadow: rgb(67, 66, 65);
	margin: auto;
}

html {
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	margin: 0;
	margin-left: 4rem;
	margin-right: 4rem;
	box-sizing: border-box;
	background-color: #e5e8df8e;
	border-radius: 40%;
}
